services:
  r3eserverraceresult:
    container_name: r3e-server-race-result
    image: ${DOCKER_REGISTRY-}r3eserverraceresult
    build:
      context: R3EServerRaceResult
      dockerfile: Dockerfile
    ports:
      - "8251:8080"
    environment:
      - LOG_LEVEL=TRACE
      - Championship__WebServer=http://your-domain.com:8251
      - Championship__EventName=Championship
      - Championship__LeagueName=R3E <3
      - Championship__PointSystem__RacePoints__0=25
      - Championship__PointSystem__RacePoints__1=18
      - Championship__PointSystem__RacePoints__2=15
      - Championship__PointSystem__RacePoints__3=12
      - Championship__PointSystem__RacePoints__4=10
      - Championship__PointSystem__RacePoints__5=8
      - Championship__PointSystem__RacePoints__6=6
      - Championship__PointSystem__RacePoints__7=4
      - Championship__PointSystem__RacePoints__8=2
      - Championship__PointSystem__RacePoints__9=1
      - Championship__PointSystem__QualifyingPoints__0=3
      - Championship__PointSystem__QualifyingPoints__1=2
      - Championship__PointSystem__QualifyingPoints__2=1
      - Championship__PointSystem__FastestLapPoints=1
      - FileStorage__MountedVolumePath=/app/data
      - FileStorage__ResultFileName=summary
      - FileStorage__GroupingStrategy=Custom # Options: Monthly, RaceCount, Custom
      - FileStorage__RacesPerChampionship=4
      # - FileStorage__ChampionshipStartDate=2025-01-15T00:00:00
    volumes:
      - data:/app/data
    user: "0" # run as root

  staticserver:
    image: nginx:latest
    container_name: sim-results-web-server
    ports:
      - "8252:80"
    volumes:
      - data:/usr/share/nginx/html:ro  # serve static content from volume
      - ./nginx.conf:/etc/nginx/nginx.conf:ro   # Mount the config
    restart: always

volumes:
  data:
