services:
  r3eserverraceresult:
    container_name: R3EServerRaceResult
    image: ${DOCKER_REGISTRY-}r3eserverraceresult
    build:
      context: R3EServerRaceResult
      dockerfile: Dockerfile
    ports:
      - "8251:8080"
    environment:
      - CHAMPIONSHIP_WEBSERVER=http://your-domain.com:8251
      - CHAMPIONSHIP_EVENTNAME=Championship
      - CHAMPIONSHIP_LEAGUENAME=R3E <3
      - FILE_STORAGE_MOUNTED_VOLUME_PATH=/app/data #The same path for the mounted volume
      - LOG_LEVEL=TRACE 
    volumes:
      - SimResultsData:/app/data
    user: "0" # run as root

  staticserver:
    image: nginx:stable-alpine
    container_name: SimResultsWebServer
    ports:
      - "8252:80"
    volumes:
      - SimResultsData:/usr/share/nginx/html:ro  # serve static content from volume
      - ./nginx.conf:/etc/nginx/nginx.conf:ro   # Mount the config
    restart: always

volumes:
  SimResultsData:
