name: Build and Push Docker Image

on:
  push:
    branches:
      - "main"
    tags:
      - "v*" # Only trigger on tag push (for release tags)

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/scarlsen7757/r3eserverraceresult  # Using the lowercase version in the next steps SCarlsen7757/R3EServerRaceResult ${{ github.repository }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./R3EServerRaceResult
          file: Dockerfile
          push: true
          tags: ghcr.io/scarlsen7757/r3eserverraceresult:latest # ${{ github.repository }}
